.body-index {
	background: url("images/bg-index-en.jpg") no-repeat center center;
	height: 873px;
	padding-top: 505px;
}

.simply-scroll, .simply-scroll .simply-scroll-clip {
	width: 100%;
}

.simply-scroll-clip li {
	margin: 0 10px;
}

.navbar-site .navbar-nav > li > a {
	font-weight: bold;
	color: #fff;
	padding: 15px 30px;
}
