body.admin {
	padding-top: 40px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}


td.right-align {
	text-align: right;
}

.navbar-logo {
	margin-top: -15px;
	min-height: 63px;
}

.nav > li.logo-right {
	padding-top: 20px;
}

	.nav > li.logo-right > a {
		display: inline;
		font-size: 12px;
	}

		.nav > li.logo-right > a:hover,
		.nav > li.logo-right > a:focus {
			background: none;
		}

.navbar-site {
	background-color: #003f92;
	border-color: #003f92;
	margin-bottom: 0;
	border-radius: 0;
}

	.navbar-site .navbar-nav > li > a {
		font-weight: bold;
		color: #fff;
		padding: 15px 40px;
	}

	.navbar-site .nav > li > a:hover,
	.navbar-site .nav > li > a:focus {
		background: none;
		background-color: #be214c;
	}

.panel-category {
	border-color: #002975;
}

	.panel-category > .panel-heading {
		color: #fff;
		background-color: #002975;
		border-color: #002975;
	}

#content-header {
	height: 375px;
	background: url("images/bg-content-header.jpg") no-repeat center center;
}

	#content-header h1 {
		color: #e3e8ee;
		font-size: 48px;
		font-weight: bolder;
		text-align: center;
		line-height: 375px;
		margin-top: 0;
	}

.content-list-header {
	height: 35px;
	background: url("images/bg-content-list-header.jpg") no-repeat left bottom;
}

	.content-list-header .pull-left {
		font-size: 14px;
		font-weight: bold;
		color: #003f92;
		padding-bottom: 10px;
		margin-top: 10px;
	}

	.content-list-header .pull-right {
		padding-bottom: 10px;
		margin-top: 10px;
	}

.content-body h2 {
	text-align: center;
	font-size: 24px;
}

.footer-site {
	height: 129px;
	background: url("images/bg-footer.jpg") no-repeat center center;
}

	.footer-site p {
		margin-top: 40px;
		color: #fff;
		line-height: 200%;
	}

	.footer-site a {
		color: #fff;
	}
