<footer class="footer-site">
	<div class="container">
		<p class="text-center">
			Copyright &copy; 2008 - 2015 群星集团公司 Sumstar Group Corp.
			<br/>
			京ICP备88888888号 京公安备99999999
			@Html.ActionLink("内网登录", "IntranetList", "Contents", new {categoryId = 51}, null)
		</p>
	</div>
</footer>
